body {
  background-color: #EAF6F6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #66BFBF;
  text-shadow: 2px 2px 1px black;
  font-family: verdana;
}
h3 {
  color: #66BFBF;
  text-shadow: 1px 1px 1px grey;
  font-family: comicsansms;
  font-variant: small-caps;
  font-size: 25px;
}
p {
  font-family: monaco;
}
td {
  font-family: courier;
}
li {
  font-family: courier;
}
th {
  font-family: verdana;
}
label {
  font-family: sans-serif;
}
